extends layout
block content
  div.form-horizontal
    div.form-group
      div.col-md-12
        h3 Edit Book
          a(href="/addbook" style="margin-top: -7px").btn.btn-primary.pull-right
            i.ic.glyphicon.glyphicon-plus
            |เพิ่มหนังสือ
        div.inner-addon.right-addon
          i.glyphicon.glyphicon-search
          input(type="text" id="searchbook" name="searchbook" onkeyup="Searchent(event)").form-control

    div.form-group
      div.col-md-12
        div(id="searchst" role="alert" style="display: none").alert.alert-danger
      
  #formbook(style="margin-top: 15px; display: none;")
    div.row
      div.col-md-5.col-md-offset-2
        div.thumbnail
          img(id ="imageshow" alt="Image" src="/images/no-image.png" style="width: 100%; height: 500px").img-responsive
    
      div.col-sm-4
        div.well
          p รหัส : 
            span(id="idbookshow" style="color:blue")
        div.well
          p ชื่อหนังสือ : 
            span(id="namebookshow" style="color:blue")
          p ผู้เขียน : 
            span(id="authorshow" style="color:blue")
          p สำนักพิมพ์ : 
            span(id="publishershow" style="color:blue")
          p เล่มล่าสุด : 
            span(id="volshow" style="color:blue")
          p เล่มล่าสุด : 
            span(id="statusshow" style="color:blue")
          button(type="button" id="editlist" name="editlist" data-toggle="modal" data-target="#editlistbook").btn.btn-warning
            i.ic.glyphicon.glyphicon-pencil 
            |Edit Data

    div.row
      div.col-md-12
        div.panel.panel-warning
          div.panel-heading
            span List หนังสือ
          div.panel-body
            table(id="listbook" style="width: 100%").table.table-striped.table-bordered
              thead
                tr
                  th เล่มที่
                  th ชื่อหนังสือ
                  th ราคา (บาท)
                  th จำนวน
                  th แก้ไข
              tbody.tb-middle

  #editlistbook(tabindex="-1" role="dialog").modal.fade
    div(role="document").modal-dialog.modal-lg
      div.modal-content
        div.modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
          h4.modal-title แก้ไขหนังสือ
        div.modal-body
          div.panel.panel-default
            div.panel-body
              form(id="booklist").form-horizontal
                div.form-group
                  label(for="namebook").col-md-2.control-label ชื่อหนังสือ :
                  div.col-md-9
                    div.input-group
                      span.input-group-addon
                        i.fas.fa-book
                      input(type="text" id="namebook" name="namebook" placeholder="ชื่อหนังสือ").form-control.text

                div.form-group
                  label(for="author").col-md-2.control-label ผู้เขียน :
                  div.col-md-9
                    div.input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-user
                      input(type="text" id="author" name="author" placeholder="ผู้เขียน").form-control.text

                div.form-group
                  label(for="publisher").col-md-2.control-label สำนักพิมพ์ :
                  div.col-md-9
                    input(type="text" id="publisher" name="publisher" placeholder="สำนักพิมพ์").form-control.text

                div.form-group
                  label(for="complete").col-md-2.control-label สถานะ :
                  div.col-md-9
                    select(id="complete").form-control
                      option ยังไม่จบ
                      option จบแล้ว

                div.form-group
                  div.col-md-9.col-md-offset-2
                    div(id="status" role="alert" style="display: none").alert

                div.form-group
                  div.col-md-2.col-md-offset-2
                    button(type="button" id="btnbook" name="btnbook").btn.btn-success
                      span Submit        

  #editvolbook(tabindex="-1" role="dialog").modal.fade
    div(role="document").modal-dialog.modal-lg
      div.modal-content
        div.modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
          h4.modal-title แก้ไขการหนังสือ
        div.modal-body
          div.panel.panel-default
            div.panel-body
              form(id="volbook").form-horizontal
                div.row
                  div.col-md-6.col-md-offset-3
                    div.thumbnail
                      img(id ="imagevol" alt="Image" src="/images/no-image.png" style="width: 100%; height: 350px").img-responsive
                hr
    
                div.form-group
                  label(for="vol").col-md-2.control-label เล่มที่ :
                  div.col-md-2
                    input(type="text" id="vol" name="vol" placeholder="เล่มที่" readonly).form-control

                div.form-group
                  label(for="price").col-md-2.control-label ราคา :
                  div.col-md-2
                    input(type="text" id="price" name="price" placeholder="ราคา" oninput="Decimal(this)" maxlength="6").form-control.text

                div.form-group
                  label(for="stock").col-md-2.control-label จำนวนเล่ม :
                  div.col-md-2
                    input(type="text" id="stock" name="stock" placeholder="จำนวนเล่ม" oninput="NumberOnly(this)" maxlength="4").form-control.text

                div.form-group
                  label.col-md-2.control-label รูปหน้าปก :
                  div.col-md-8
                    div.input-group
                      label.input-group-btn
                        span.btn.btn-primary Browse &hellip;
                          input(type="file" id="image" name="image"  accept="image/gif, image/jpeg, image/png" style="display: none;")
                      input(type="text" id="filename" name="filename" readonly).form-control

                div.form-group
                  div.col-md-8.col-md-offset-2
                    div(id="volbookst" role="alert" style="display: none").alert.alert-danger
            
                div.form-group
                  div.col-md-2.col-md-offset-2
                    button(type="button" id="btnvolbook" name="btnvolbook").btn.btn-success
                      span Submit
        
  script.
    $.getJSON('/jsons/searchbook.json', function(rows) {
      let searchbook = {
        data: rows,       
        getValue: 'name',
        list: {
          maxNumberOfElements: 20,
          match: { enabled: true },
          onChooseEvent: () => { $('#searchbook').focus() }
        }
      }
      $("#searchbook").easyAutocomplete(searchbook)
      $('#searchbook').focus()
    })

    $.getJSON('/jsons/publisher.json', function(rows) {
      let publisher = {
        data: rows,       
        getValue: 'name',
        list: {
          maxNumberOfElements: 10,
          match: { enabled: true },
          onChooseEvent: () => { $('#publisher').focus() }
        }
      }
      $("#publisher").easyAutocomplete(publisher)
    })

    const editvolbook = ($this) => {
      let data = {
        id: $('#idbookshow').text(),
        vol: getUrlParameter('vol', $this.href)
      }

      $.ajax({
        url: '/editvolbook',
        type: 'get',
        data: data,
        datatype: 'json',
        cache: false,
        timeout: 5000,
        beforeSend: () => {
          if ($('#volbookst').css('display') == 'block') $('#volbookst').toggle('blind', 10)
        },
        success: (result) => {
          $('#vol').val(result.vol)
          $('#price').val(result.price)
          $('#stock').val(result.stock)
          $('#imagevol').prop('src', result.pathimg)
        },
        error: (result) => {
          if ($('#volbookst').css('display') == 'none') $('#volbookst').toggle('blind', 50)
          $('#volbookst').text(result.responseJSON.msg)
        }
      })

      $('#editvolbook').modal()
    }

    const Searchent = (e) => {
      if (e.which == 13) Search()
    }

    const Search = () => {    
      
      let $this = $('#searchbook')
      if ($this.val().trim() == '') return
      else {
        $.ajax({
          url: '/searchallbook',
          type: 'get',
          data: { searchbook: $('#searchbook').val()},
          datatype: 'json',
          cache: false,
          timeout: 5000,
          beforeSend: () => {
            $this.addClass('loading')
            $('#formbook').fadeOut(100)
            if ($('#searchst').css('display') == 'block') $('#searchst').toggle('blind', 10)
          },
          success: (result) => {
            if ($('#formbook').css('display') == 'none') $('#formbook').show(100)
            $('#formbook').fadeIn(100)
            $('#idbookshow').text(result.data.id)
            $('#namebookshow').text(result.data.namebook)
            $('#namebook').val(result.data.namebook)
            $('#authorshow').text(result.data.author)
            $('#author').val(result.data.author)
            $('#publishershow').text(result.data.publisher)
            $('#publisher').val(result.data.publisher)
            $('#volshow').text(result.data.vol)
            $('#statusshow').text(result.data.status)
            $('#imageshow').prop('src', result.data.pathimg)
            $('tbody tr').slice(0).remove()
            
            $.each(result.allbook, function(i, item) {
              $('tbody').append('<tr>')
              $('tbody tr:last').append('<td>' + item.vol)
              $('tbody tr:last').append('<td>' + item.namebook)
              $('tbody tr:last').append('<td>' + item.price)
              $('tbody tr:last').append('<td>' + item.stock)
              $('tbody tr:last')
                .append('<td class="td-center"><a class="link btn btn-warning" href="#vol=' + item.vol + '" onclick="editvolbook(this)"><i class="glyphicon glyphicon-pencil"></i></a></td>')
            })
          },
          error: (result) => {
            if ($('#searchst').css('display') == 'none') $('#searchst').toggle('blind', 50)
            $('#searchst').text(result.responseJSON.msg)              
          },
          complete: () => {
            $this.removeClass('loading')
          }
        })
      }      
    }
        
    $(() => {
      let valid = new validation()
      let btnbook = new btnprocess('btnbook')
      $('input').prop('autocomplete', 'off')
      $('#editlistbook').on('shown.bs.modal', function () { $('#namebook').focus() })
      $('#editvolbook').on('shown.bs.modal', function () { 
        $('#price').focus()
        $('#image').val('')
        $('#filename').val('')
      })

      $('#editlistbook').on('hidden.bs.modal', function () {
        $('#status').removeClass('alert-danger alert-success')
        $('#status').css('display', 'none')
      })
      
      $('input:file').change((e) => {
        $('#filename').val(e.target.value.replace(/\\/g, '/').replace(/.*\//, ''))                
      })

      $('#booklist input').on('keyup blur', (e) => { valid.text(false, e.target.id) })
      $('#booklist').keypress((e) => { if (e.which == 13) $('#btnbook').click() })
      $('#btnbook').click(() => {
        let err = false

        $('#editlistbook input').each(function() { err = valid.text(err, $(this)[0].id) })
        if (err) FocusError()        
        else {
          let data = $('#booklist').serializeJSON()
          data.id = $('#idbookshow').text()
          data.status = $('#complete').val()
          
          $.ajax({
            url: '/editlistbook',
            type: 'post',
            data: data,
            datatype: 'json',
            cache: false,
            timeout: 5000,
            beforeSend: () => {
              btnbook.loading('Processing...')
              $('#status').removeClass('alert-danger alert-success')
              if ($('#status').css('display') == 'block') $('#status').toggle('blind', 10)
            },
            success: (result) => {              
              $('#status').addClass('alert-success').text(result.msg)
              $('#searchbook').val(data.namebook)
              Search()

              $.getJSON('/jsons/searchbook.json', function(rows) {
                let searchbook = {
                  data: rows,       
                  getValue: 'name',
                  list: {
                    maxNumberOfElements: 20,
                    match: { enabled: true },
                    onChooseEvent: () => { $('#searchbook').focus() }
                  }
                }
                $("#searchbook").easyAutocomplete(searchbook)   
              })
                                                    
              $.getJSON('/jsons/publisher.json', function(rows) {
                let publisher = {
                  data: rows,       
                  getValue: 'name',
                  list: {
                    maxNumberOfElements: 10,
                    match: { enabled: true },
                    onChooseEvent: () => { $('#publisher').focus() }
                  }
                }
                $("#publisher").easyAutocomplete(publisher)   
              })
                                    
              setTimeout(function() {
                $('#status').removeClass('alert-success')
                if ($('#status').css('display') == 'block') $('#status').toggle('blind', 50)
              }, 2000)              
            },
            error: (result) => {              
              $('#status').addClass('alert-danger').text(result.responseJSON.msg)
            },
            complete: () => {              
              btnbook.reset()
              $('#namebook').focus()              
              if ($('#status').css('display') == 'none') $('#status').toggle('blind', 50)
            }
          })
        }
      })

      $('#volbook .text').on('keyup blur', (e) => { valid.text(false, e.target.id) })
      $('#volbook').keypress((e) => { if (e.which == 13) $('#btnvolbook').click() })

      $('#btnvolbook').click(() => {
        let err = false

        $('#volbook .text').each(function() { err = valid.text(err, $(this)[0].id) })
        if (err) FocusError()
        else {
          let data = new FormData()
        
          data.append('id', $('#idbookshow').text())
          data.append('namebook', $('#namebookshow').text())
          data.append('vol', $('#vol').val())
          data.append('price', $('#price').val())
          data.append('stock', $('#stock').val())
          if ($('#image').get(0).files[0] != undefined) data.append('image', $('#image').get(0).files[0])
          
          $.ajax({
            url: '/editvolbook',
            type: 'post',
            data: data,
            cache: false,
            timeout: 5000,
            contentType: false,
            processData: false,
            beforeSend: () => {
              if ($('#volbookst').css('display') == 'block') $('#volbookst').toggle('blind', 10)
            },
            success: (result) => {
              $('.thumbnail').animate({opacity: .1}, 100)
              $('#imagevol').prop('src', result.data.pathimg + '?' + new Date().getTime())
              Search()

              setTimeout(function() {
                $('.thumbnail').animate({opacity: 1}, 100)
              }, 100)
            },
            error: (result) => {
              if ($('#volbookst').css('display') == 'none') $('#volbookst').toggle('blind', 50)
              $('#volbookst').text(result.responseJSON.msg)              
            }
          })
        }
      })
    })